@import url(https://fonts.googleapis.com/css?family=Lato:300,400); 
@import url(https://fonts.googleapis.com/css?family=Muli:900); 
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); 


:root{
    --main-color: #c3d86d;
    --main-color_dark: #434738;
    --black:#13131a;
    --white: #fff;
    --bg: #f3f8dd;
    --font-color-1: #26b143;
    --background-1: #90d57b;
    --background-2: #ece4be;
    --yellow: #caac1a;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size:80%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-padding-top: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #3d4939;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: var(--font-color-1);
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight:750;
}

.review .heading{
    text-align: center;
    color: #653928;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 3.5rem;
    font-weight:750;
}
.menu .heading{
    text-align: center;
    color: #3aa93e;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    font-weight:750;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    
    /* display: inline-block; */
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    background: #c7003d;
    cursor: pointer;
    border-radius: 20cm;
    text-align: center;

}
.contact .row #contactForm .btn{
    
    /* display: inline-block; */
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    background: #965f49;
    cursor: pointer;
    border-radius: 20cm;
    text-align: center;
    margin-top: 2rem;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: sticky;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 7rem;
}
.header .navbar{
    justify-content:center;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color_dark);
    font-weight: bold;
    text-transform: uppercase;
}
.header .navbar a:hover{
    color: #f3f8dd;
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
}
.header .icons {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Ngăn chặn các biểu tượng xuống dòng */
    
}
#cart-btn {
    position: relative; /* Đặt phần tử cha làm vị trí tương đối */
}
#search-btn, #cart-btn, #menu-btn{
    align-items: center;
    font-size: 2.7rem;
}
.header .icons div{
    color: var(--white);
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none; 
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: var(--bg);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    left: 0;
    font-size: 1.8rem;
    color: var(--black);
    margin-left: .5rem;
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}

/* search list */
#search-list{
    list-style-type: none;
    display: none;
    /* padding: 0; */
    /* margin: 0; */
    position: absolute;
    top: 100%; /* Đặt ở dưới .search-form */
    left: 0;
    width: 100%; /* Độ rộng tương đương với .search-form */
    background-color: #60964b;
    /* background-color: #bead55; */
    /* border: 1px solid var(--background-2);  */
    border-radius: 0 0 1ch 2ch;
    opacity: 90%;
}
#search-list li {
    margin-top: 1rem; /*khoảng cách giữa các li*/
    padding-left: 1rem;
    /* margin-bottom: 1rem; */
    height: 3rem;
    justify-content: center; /* Canh giữa các thành phần theo chiều ngang */
    align-items: flex-start; /* Căn đầu các thành phần theo chiều dọc */
    grid-template-rows: auto; /* Các hàng co giãn theo nội dung */
}
#search-list li a {
    font-size:1.8rem;
    color: var(--bg);
}
#search-list li:hover {
    color: var(--font-color-1);
    font-size:larger;
    font-weight: bold;
    border-radius: 0 1ch 1ch 0;
    background: var(--main-color);
    opacity: 60%;
    cursor: pointer;
}



/* home section */
/* .home{
    /* min-height: 100vh; */
    /* display: flex;
    align-items: center; */
    /* justify-content: center;
    background: url(../img/banner4-removebg.png) no-repeat;
    background-size: cover; */
    /* background-position: center; 
}*/
/* .home .row{
    display: flex;
    justify-content: center;
} */
/* .home .row .hinh{
    
} */
/* .home .row .hinh img{
    width: 80%;
} */
/*.home .row .content{
     flex: 50rem;
    padding: 2rem;
    text-align: justify;
    text-indent: 2em; 
    flex: 30rem 1 1; 
}*/
.home .content h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--font-color-1);
    /* width: 50%; */
}
.home .content p{
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 1.8;
    text-align: justify;
    padding: 2rem 0;
    color: #082313;
    width: 88%;
}
.home .row {
    display: flex;
    flex-direction: row; /* Đổi hướng thành ngang */
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.home .content {
    flex: 1; 
    /* Phần tử content chiếm một phần */
    padding: auto;
}
.home .hinh {
    flex: 1; 
    width: 50%;
    size-adjust: 10;
}



/* about section */
.about{
    background: var(--background-2);
    background-color: light;
}
.about .row{
    display: flex;
    align-items: center;
}
.about .row .img{
    flex: 1 1 30rem;
}
.about .row .img img{
    width: 80%;
}
.about .row .content{
    flex: 1 1 50rem;
    padding: 2rem;
    text-align: justify;
    text-indent: 2em;
}
.about .row .content h3{
    /* color: var(); */
    font-size: 2.5rem;
    color: #653928;
    text-indent: 0;
    margin-bottom: 1.5rem;
}
.about .row .content p{
    font-size: 1.7rem;
    color: var(--main-color_dark);
    padding: .5rem 0;
    line-height: 1.8;
    text-indent: 0;
}
.end-para{
    margin-bottom: 3rem;
}


/* menu section */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    justify-content: space-between;
}
.menu .box-container .box{
    /* border: 1px solid var(--main-color); */
    box-shadow: .5rem 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 2ch;
    flex-direction: column; /* Xếp chồng các phần tử từ trên xuống dưới */
    justify-content: space-between; /* Canh các phần tử theo chiều dọc */
    padding: 1rem; /*thay đổi chiều cao khung sản phẩm*/
    text-align: center;
    align-items: center;
}
.menu .box-container .box img{
    /* height: 25rem; */
    max-width: 80%; /* Đảm bảo hình ảnh không vượt quá kích thước của container */
    
}
.menu .box-container .box .box-detail{
    align-items: center;
    
}
.menu .box-container .box .box-detail h4{
    color: var(--main-color_dark);
    font-size: 2rem;
    padding: 2rem 0;
    /* width: 70%; */
}
.menu .box-container .box .price{
    color: var(--yellow);
    font-size: 2rem;
    padding: 2rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
}
.menu .box-container .box:hover{
    background: var(--background-2);
}
/* .menu .box-container .box:hover>*{
    color: var(--font-color-1);
}
.btn-change-ice, .btn-change-size, .btn-change-sugar{
    color: black;
} */



.menu .box-container .box .btn-change-size
, .btn-change-sugar
, .btn-change-ice
, .control-input{
    color: var(--main-color_dark);
    font-size: 1.2rem;
    padding: .6rem 0;
   
    
}
.btn-change-size, .btn-change-sugar, label, h5 {
    display: inline-block; /* Hiển thị nhãn trên cùng một dòng */
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    
    
}
.btn-change-ice{
    display: inline-block; /* Hiển thị nhãn trên cùng một dòng */
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}
.menu .listmenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    position: absolute;
}
/* boxed object */
.box-container .box button{
    background-color: #bead55;
    color: #ffffff;
    font-size: 1.4rem;
    /* font-weight: bold; */
   
    padding: 1rem;
    width: 100%;
    
    border-radius: 2ch;
    /* align-self: flex-end; Căn phần tử button về phía dưới cùng của phần tử cha */
    border: none;
    cursor: pointer;
}
.box-container .box button:hover{
    box-shadow: .5rem 0 1rem rgba(0, 0, 0, 0.1);
    color: var(--main-color_dark);
}
/* ratio */
/* Đảm bảo label có thể được nhấp để chọn radio button */
.custom-control-label, .control-input {
    cursor: pointer;
    transition: background-color 0.3s; 
}
/* Màu và font-weight khi hover trên label */
.custom-control-label:hover {
    color: var(--main-color_dark);
    font-weight: bold;
}


/* cart */
.cart-item-container.active{
    right: 0;
}
.cart-item-container{
    font-size:1.2rem;
    background: var(--main-color);
    display: grid;
    position: absolute;
    top: 100%; right: -100%; 
    width: 40rem;
    border-radius: 0 0 0 3ch;
    max-height: 85vh; /* Sử dụng 85% của chiều cao của màn hình */
    overflow-y: auto;
    justify-content: center; /* Canh giữa các thành phần theo chiều ngang */
    align-items: flex-start; /* Căn đầu các thành phần theo chiều dọc */
    grid-template-rows: auto; /* Các hàng co giãn theo nội dung */
}
.cart-title{
    position: sticky;
    z-index: 1; /* Đảm bảo tiêu đề cart nằm trên cùng */
    top: 0;
    font-size: 1.8rem;
    color: var(--font-color-1);
    background: var(--main-color);
    box-shadow: 0 0 2rem  rgba(66, 128, 27, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    font-weight: bold;
    height: 2.5rem;
    /* display: flex; */
}

.listCard{
    color: var(--font-color-1);
    list-style-type: none;
    padding: 0 1rem;
    justify-content: flex-start; 
}
.listCard li{
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr);  */
    display: flex;
    width: 100%;
    gap: .5rem; 
    margin-top: 2.5rem;
}
.listCard li img{
    width: 30%;
    height: auto;
    justify-items: left;
    align-items: center;
}
.cart-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-items: left; */
    justify-content: center;
}
.cart-info-1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color_dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.listCard li .cart-name, .cart-price, .count, button{
    /* text-align: center; */
    align-content: center;  /*canh giữa theo chiều dọc*/
}
.cart-info-1 button{
    background: var(--main-color_dark);
    color: var(--white);
    padding: .2rem .2rem;
    margin: .3rem;
    align-self: center;
    border-radius: 30%;
    width: 30px; 
    height: 30px; 
    cursor: pointer;
}
.cart-info-1 .count{
    font-size: 1.7rem;
    color: var(--main-color_dark);
    padding: .2rem;
    text-align: right; 
}
.cart-info-2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: flex-end;  
    font-style: italic;
    border-bottom: 1px solid var(--main-color_dark);
}
.cart-info-2 span{
    margin: 1rem;
}
.cart-price{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-color_dark);
    text-align: right; 
}
.cart-change {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.listCard li button{
    background: var(--main-color_dark);
    color: var(--white);
    padding: .3rem .5rem;
    width: 100%;
    border-radius: 30%;
    margin-right: .2rem; 
    cursor: pointer;
}
.listCard li button:hover{
    background: var(--black);
}
.listCard li .count{
    color: var(--font-color-1);
    padding: .2rem;
}



.checkout {
    position:sticky;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 
.checkout {
    background-color: var(--main-color);
    box-shadow: 2rem  rgba(66, 128, 27, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.7); 
    width: 100%;
    height: 5rem;
    font-size: 1.9rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.checkout div:nth-child(4){
    background-color: var(--main-color);
    color: var(--white);
}
.checkout .total{
    color: rgb(97, 9, 9);
}
.checkout .payment:hover, .closeShopping:hover{
    box-shadow: .5rem 0 .5rem .5rem rgba(34, 56, 28, 0.3);
    border-radius: 2ch;
    color: rgb(97, 9, 9);
}
.active .icons{
    transform: translateX(-200px);
}






/* product section */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: var(--white);
    margin: .3rem;
}
.products .box-container .box .icons a:hover{
    background: var(--main-color);
}
.products .box-container .box .image{
    padding: 2.5rem 0;
}
.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box .content h3{
    color: var(--white);
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .box-container .box .content .price{
    color: var(--white);
    font-size: 2.5rem;
}
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
.products .box-container .box:hover{
    background: var(--white);
}
.products .box-container .box .content:hover > *{
    color: var(--black);
}


/* review section css */
.review{
    background-color: var(--background-2);
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.review .box-container .box{
    margin-top: 2rem;
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background: rgb(255, 255, 255);
    border-radius: 5ch;
}
.review .box-container .box p{
    font-size: 1.9rem;
    line-height: 1.8;
    color: #000000fe;
    padding: 2rem 0;
    text-transform: none;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #7d0608;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--yellow);
}

/* header section */
.header .icons{
    position: relative;
    text-align: right;
}
/* .header .icons .quantity{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    top: -10px;
    left: 60%;
    padding: 3px 10px;
} */
/* .header .icons .quantity{
    color: var(--background-1);
} */
.quantity{
    color: var(--background-1);
    font-size: 1.3rem;
}
/* note: nếu số lượng sản phẩm trong giỏ hàng > 0 thì hiển thị icon số quantity, else ko hiển thị */
#QuanIsExisted{
    background-color: red;
    border-radius: 50%;
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    top: -20px;
    left: 50%;
    padding: 3px 10px;
}


/* contact */
.contact .row{
    border-radius: 2ch;
    display: flex;
    background: #bead55;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    border-radius: 2ch 0 0 2ch;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
}

.contact .row form .inputBox{
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background: var(--bg);
    border: var(--border);
    border-radius: 1.5ch;
}

.contact .row form .inputBox span{
    color: black;
    font-size: 2rem;
    padding-left: 2rem; 
}  

.contact .row form .inputBox input{
    color: var(--black);
    font-size: 1.7rem;
    padding: 1.5rem;
    width: 100%;
    text-transform: none;
    background: none;
}  

.contact .row form .inputBox .feedback{
    display: flex;
    flex: 1;
}

.contact .row form .inputBox .feedback span{
    color: black;
    font-size: 2rem;
    padding: 2rem; 
}  

.contact .row form .inputBox .feedback textarea {
    color: var(--black);
    font-size: 1.7rem;
    padding: 2rem 1rem 1rem 0rem; 
    width: 100%; 
    min-height: 150px; 
    resize: vertical; 
    background: none;
}

/* blogs */
.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    
}

.blog .box-container .box{
    border: var(--border);  
    
}
.blog .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blog .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blog .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blog .box-container .box .content{
    /* padding: 2rem; */
    height: 11rem;
    padding-top: 1rem;
}

.blog .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    /* color: #fff; */
    color: black;
}
.box .nut {
    display: flex;
    justify-content: center;   /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều doc */
    /* canh giua div trong div */
    padding-bottom: 5rem;
    padding-top: 1rem;
}
.blog .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blog .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blog .box-container .box .content p{
    line-height: 1.8;
    font-size: 1.6rem;
    color: #0c0707;
    
}

/* footer*/
.footer{
    background-color: var(--black);
    text-align: center;
}
.footer .share h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: 1rem;
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    /* height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    text-decoration: none; */
}

.footer .share a:hover{
    background-color: var(--main-color);

}

.footer .links{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding: center;
    /* padding: 1rem 0; */
    gap: 1rem;
}

.footer .links a{
    /* padding: 7rem 2rem; */
    padding: .5rem .5em;
    padding-bottom: 1rem;
    color:  #fff;
    
    font-size: 1.7rem;
    /* font-size: 1.5rem; */
    text-decoration: none;
}

.footer .links a:hover{
    /* color: var(--main-color); */
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
    
}

.footer .credit{
    font-size: 1.5rem;
    /* font-size: 1rem; */
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);

}


#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #26b143;
    /* display: none; */
    display: block;
}






/* small res */
@media(max-width:1115px){
    html{
        font-size:60%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
   
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        /* background: var(--white); */
        background: var(--background-1);
        width:20rem;
        /* height: calc(100vh - 9.5rem); */
        max-height: 100vh;
        border-radius: 0 0 0 3ch;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar.active a{
        border-bottom: .1rem solid var(--main-color_dark);
        margin-bottom: 3rem;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1rem;
    }
}

@media(max-width:450px){
    html{
        font-size:50%;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

}