@import url(https://fonts.googleapis.com/css?family=Lato:300,400); 
@import url(https://fonts.googleapis.com/css?family=Muli:900); 
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); 


:root{
    --main-color: #c3d86d;
    --main-color_dark: #434738;
    --black:#13131a;
    --bg: #f3f8dd;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size:80%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-padding-top: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
    position: relative; /* Ensure the footer's height affects the body's padding */
    padding-bottom: 20rem;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    /* color: #fff; */
    color: #653928;
    text-transform: uppercase;
    /* padding-bottom: 3.5rem;
    font-size: 4rem; */
    font-size: 3.5rem;
    font-weight:750;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    /* padding: .8rem 3rem; */
    padding: 1rem 3rem;
    font-size: 1.7rem;
    /* color: #ffffff; */
    color: var(--main-color_dark);
    background: var(--main-color);
    cursor: pointer;
    border-radius:20cm;
}
.btn:hover{
    letter-spacing: .2rem;
}

.header{
    /* background: var(--bg); */
    background: #7ec06a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: sticky;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 6rem;
}
.header .navbar a{
    margin: 0 1rem;
    /* font-size: 1.6rem; */
    /* color: #fff; */
    font-size: 1.8rem;
    color: #434738;
    font-weight: bold;
    text-transform: uppercase;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none; 
    
}
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}


.row{
    height: 10rem;
    display: flex;
}
.promo .row .content{
    display: flex;
    flex-direction: row;   /*tạo thành 2 cột*/
    flex-wrap: wrap;

    background: #edfed8;
    margin-top: 1.5rem;
}

.promo .row .img{
    /* flex: 1 1 5rem; */
    max-width: 100%;
    padding-left: 10rem;
}
/* .promo .row img{
    max-width: 100%;
} */
.promo .row .content{
    flex: 1 1 45rem;
    padding: .5rem 2rem 1rem 2rem;
}

.promo .row .content p{
    font-size: 1.8rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
    padding-left: 2rem;
    text-align: justify;
}

.promo .row .content span{
    color: #132d11;
}



/* footer*/
.footer{
    background-color: var(--black);
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 20rem;
}
.footer .share h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: 1rem;
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);

}

.footer .links{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding: center;
    /* padding: 1rem 0; */
    gap: 1rem;
}

.footer .links a{
    /* padding: 7rem 2rem; */
    padding: .5rem .5em;
    padding-bottom: 1rem;
    color:  #fff;
    
    font-size: 1.7rem;
    /* font-size: 1.5rem; */
    text-decoration: none;
}

.footer .links a:hover{
    /* color: var(--main-color); */
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
    
}

.footer .credit{
    font-size: 1.5rem;
    /* font-size: 1rem; */
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);

}

/* small res */
@media(max-width:1115px){
    html{
        font-size:60%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
   
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width:20rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1rem;
    }
}
@media(max-width:450px){
    html{
        font-size:50%;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
}