
@import url(https://fonts.googleapis.com/css?family=Lato:300,400); 
@import url(https://fonts.googleapis.com/css?family=Muli:900); 
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); 


:root{
    --main-color: #c3d86d;
    --main-color_dark: #434738;
    --black:#13131a;
    --bg: #f3f8dd;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size:80%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-padding-top: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    /* color: #fff; */
    color: #653928;
    text-transform: uppercase;
    /* padding-bottom: 3.5rem;
    font-size: 4rem; */
    font-size: 3.5rem;
    font-weight:750;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    /* padding: .8rem 3rem; */
    padding: 1rem 3rem;
    font-size: 1.7rem;
    /* color: #ffffff; */
    color: var(--main-color_dark);
    background: var(--main-color);
    cursor: pointer;
    border-radius:20cm;
}
.btn:hover{
    letter-spacing: .2rem;
}

.header{
    /* background: var(--bg); */
    background: #7ec06a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: sticky;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 6rem;
}
.header .navbar a{
    margin: 0 1rem;
    /* font-size: 1.6rem; */
    /* color: #fff; */
    font-size: 1.8rem;
    color: #434738;
    font-weight: bold;
    text-transform: uppercase;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none; 
    
}
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}


/* menu section */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: space-between;
}
.menu .box-container .box{
    border: var(--border);
    display: flex;
    flex-direction: column; /* Xếp chồng các phần tử từ trên xuống dưới */
    justify-content: space-between; /* Canh các phần tử theo chiều dọc */
    padding: 8rem; /*thay đổi chiều cao khung sản phẩm*/
    text-align: center;
}
.menu .box-container .box img{
    height: 10rem;
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của container */
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
}
.menu .box-container .box:hover{
    background: #fff;
}
.menu .box-container .box:hover > *{
    color: var(--black);
}
.menu .listmenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    position: absolute;
}
/* boxed object */
.box-container .box button{
    background-color: var(--main-color);
    color: var(#fff);
    padding: 1rem;
    width: 100%;
    border-radius: 30%;
    align-self: flex-end; /* Căn phần tử button về phía dưới cùng của phần tử cha */
    border: none;
    cursor: pointer;
}

.listCard li button{
    background: var(--main-color_dark);
    color: #fff;
    padding: .3rem .5rem;
    width: 100%;
    border-radius: 30%;
    margin-right: .2rem; /*tăng khoảng cách giữa các btn*/
    cursor: pointer;
}

.listCard li .count{
    color: #fff;
    padding: .2rem;
}

/* header section */
.header .icons{
    position: relative;
    text-align: right;
}
.header .icons .quantity{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -10px;
    left: 60%;
    padding: 3px 10px;
}
.cart-item-container.active{
    right: 0;
}
.cart-item-container{
    font-size:1.2rem;
    background: var(--main-color);
    display: grid;
    position: absolute;
    top: 100%; right: -100%; 
    /* height: calc(70vh - 5rem); */
    width: 35rem;
    padding: 0 1.5rem;
    transition: 0.5s;
}



.cart-items-container h1{
    color: var(--black);
    font-weight: bold;
    font-size: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.checkout {
    position: absolute;
    bottom: -50;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 

.checkout div{
    background-color: var(--main-color_dark);
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.checkout div:nth-child(4){
    background-color: var(--black);
    color: #fff;
}

/* .header .active .cart-items-container{
    left: calc(100% - 100px);
} */

.active .icons{
    transform: translateX(-200px);
}

.listCard li{
    display: grid;
    grid-template-columns: 15rem repeat(3, 1fr);
    color: #fff;
    row-gap: 2rem;
    margin-bottom: 2rem;
}


.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.listCard li div img{
    width: 50%;
    height: auto;
}

.listCard button{
    width: auto;
    background-color: #fff;
    border: none;
}

.listCard .count{
    margin: 0 1rem;
    color: var(--black);
}

.promo .row {
    display: flex;
    align-items: flex-start;
    background: #edfed8;
    /* background: #cdee77; */
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.promo .row .img{
    flex: 1 1 45rem;
}
.promo .row .img img{
    width: 100%;
}
.promo .row .content{
    flex: 1 1 45rem;
    padding: .5rem 2rem 1rem 2rem;
}

.promo .row .content p{
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
}

.promo .row .content span{
    color: #132d11;
}

/* contact */
.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}  

.contact .row form .inputBox input{
    color: #fff;
    font-size: 1.7rem;
    padding: 2rem;
    width: 100%;
    text-transform: none;
    background: none;
}  

/* blogs */
.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blog .box-container .box{
    border: var(--border);    
}

.blog .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blog .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blog .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blog .box-container .box .content{
    padding: 2rem;
}

.blog .box-container .box{
    width: 150%;
}
.blog .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    /* color: #fff; */
    color: black;
}

.blog .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blog .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blog .box-container .box .content p{
    line-height: 1.8;
    font-size: 1.6rem;
    color: #fff;
}

/* footer*/
.footer{
    background-color: var(--black);
    text-align: center;
}
.footer .share h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: 1rem;
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    /* height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    text-decoration: none; */
}

.footer .share a:hover{
    background-color: var(--main-color);

}

.footer .links{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding: center;
    /* padding: 1rem 0; */
    gap: 1rem;
}

.footer .links a{
    /* padding: 7rem 2rem; */
    padding: .5rem .5em;
    padding-bottom: 1rem;
    color:  #fff;
    
    font-size: 1.7rem;
    /* font-size: 1.5rem; */
    text-decoration: none;
}

.footer .links a:hover{
    /* color: var(--main-color); */
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
    
}

.footer .credit{
    font-size: 1.5rem;
    /* font-size: 1rem; */
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);

}

/* small res */
@media(max-width:1115px){
    html{
        font-size:60%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
   
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width:20rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1rem;
    }
}
@media(max-width:450px){
    html{
        font-size:50%;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
}